<!-- <nav class="navbar navbar-expand-lg">
    <div class="container">
        <p class="brand">
            Vehicle Insurance
        </p>
        <button class="navbar-toggler" type="button">
            Menu
        </button>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"> 
                test erwrwrwerewr
            </li>
            <li class="nav-item">
                test 2 rewrw
            </li>
        </ul>
    </div>

</nav> -->

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <h2 class="navbar-nav">         
          Vehicle Insurance
      </h2>
      <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" [routerLink]="['./insurances']" routerLinkActive="active-link">Insurances</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" [routerLink]="['./events']" routerLinkActive="active-link">Events</a>
          </li>
 
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>